body {
  margin: 0;
  padding: 0;
  background-color: rgb(222, 234, 239);
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  font-family: monospace, "Courier New", Courier;
  font-size: 18px;
}

#game-container p {
  line-height: 1px; /* within paragraph */
  margin-bottom: 15px; /* between paragraphs */
}

.images-container {
  height: 100px;
  width: 400px;
  margin-top: 50px;
  justify-content: space-between;
  display: flex;
}

img {
  height: 100px;
  transition: 100ms;
}

img:hover {
  transform: scale(1.2);
}
